/*
* Table Of Contents
1. Variables 
2. Mix-Ins
3. Global Styles
*/

// * Variables * // 
$text-white: #fff;
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// * Global Styles * // 
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    color: $text-white;
    background-color: lighten(black, 10%);
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: unset;
}


li {
    display: list-item;
    list-style-position: inside;
}
// *** Styles *** //

// * Pages *//
// * Main Page * // 
main {
    margin: auto;
    width: 80%;
}

.mainText {
    margin: 1.5em 1rem 2rem;

    &__title {
        font-family: "Ubuntu";
        font-size: 2.25rem;
        padding-bottom: .1rem;
        font-weight: 700;
    }

    &__text {
        font-family: "Ubuntu";
        font-size: .85rem;
        padding-left: 1rem;
        font-weight: 300;
    }

}
.error {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        padding-top: 5rem;
        font-size: 5rem;
        padding-bottom: 1rem;
    }
    &__description {
        font-size: .9rem;
        font-weight: 200;
    }
    &__container {
        display: flex;
        justify-content: center;
        cursor: default;
        margin: 2rem 0;
        text-decoration: none;
        &_btn {
            background-color: lighten(black, 20%);
            border-radius: .2rem;
            font-weight: 100;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            letter-spacing: .5px;
            margin: 0rem 2rem 0 2rem;
            transition: ease-in .1s;
            cursor: pointer;
        }

        &_btn:hover,
        &_btn:focus {
            background-color: lighten(black, 15%);
            transition: ease-in .2s;
        }
    }
}

// * Loading Page * //
.loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        width: 80%;
    }
    transition: all ease-in .1s;
}

// * Components * //
// * Header Component * //
.header {
    
    padding: .5rem .75rem;
    display: flex;
    &__nav {
        display: flex;
        width: 100%;
        align-items: center;
        &_profile {
            height: 2.25rem;
        }
        &_navbar {
            margin-top: .1rem;
            margin-left: auto;
        }
    }
    &__logo {
        height: 2rem;
    }
    padding: 1.5rem 0;
    
}

// * Navbar Component * // 

#menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: lighten(#232323, 10%);
}


#menuToggle input {
    display: block;
    width: 2.25rem;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 2rem;
    height: .15rem;
    margin-bottom: .5rem;
    position: relative;
    background: #ebebeb;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}


#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(47deg) translate(-0px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -200px;
    padding: 50px;
    padding-top: 125px;
    border-radius: .5rem;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(101%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}
// * Search Component * //
.searchBarContainer {
    position: relative;
    display: flex;
    &__icon {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}
.search {
    background-color: transparent;
    color: white;
    border: 2px white solid;
    border-radius: .3rem;
    width: 100%;
    padding: .75rem 1rem;
    font-size: 1rem;
}
.search::placeholder {
    color: grey;
    font-style: italic;
}

// * Player Component * //
.player {
    background-color: lighten(black, 20%);
    display: flex;
    padding: 1.25rem 1rem 1rem;
    border-bottom: 1.5px solid black;
    transition: .2s ease;
    &__picture {
        display: flex;
        justify-content: center;
        width: 50%;
        &_img {
            display: block;
            object-fit: scale-down;
            height: 100%;
            width: 70%;            // height: auto;
            margin-top: -.5rem;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        width: 50%;
        &_name {
            font-weight: 600;
            font-size: 1.2rem;
            padding-bottom: .2rem;
        }
        &_type {
            font-size: .7rem;
            padding-bottom: 1rem;
            font-weight: lighter;
        }
        &_number {
            font-size: .9rem;
        }
    }
}
.player:hover, .player:focus {
    background-color: lighten(black, 17%);
    transition: .2s ease-in;
}
.player:active {
    background-color: lighten(black, 16%);
    transition: .2s ease-in;
}

// * Player Small * //
// * Player Component * //
.playerSmall {
    display: flex;
    padding: 2rem 1rem 1rem;

    &__picture {
        margin-top: .2rem;
        display: flex;
        justify-content: center;
        width: 50%;

        &_img {
            display: block;
            object-fit: scale-down;
            height: 100%;
            width: 100%; 
            margin-top: -.5rem;
        }

    }

    &__info {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        width: 50%;

        &_name {
            font-weight: $semi-bold;
            font-size: 1.1rem;
            padding-bottom: .2rem;
        }

        &_type {
            font-size: .6rem;
            font-weight: 200;
        }

        &_number {
            margin-top: auto;
            font-weight: $medium;
            font-size: .75em;
            margin-bottom: .5rem;
        }
    }
}

// * Footer Components * // 
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    font-size: .8rem;
    font-weight: 300;
    &__text {
        &_name {
            font-size: .8rem;
            color: $text-white;
            text-decoration: underline;
        }
    }
}

// * Nickname Component * //
.nickname {
    color: $text-white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top:   1rem;
    &__ol {
        list-style-type: none;
        &_li {
            counter-increment: step-counter;
            background-color: #2E2B2B;
            padding: 1rem;
            font-weight: 400;
        }
        &_li:nth-child(even) {
            background-color: #1C1C1C;

        }
        &_li::before {
            content: counter(step-counter);
            margin: 0 .75rem 0rem .5rem;
            border-radius: 50%;
            border: 2px solid #414141;
            color: #e1e1e1;
            padding: 2px;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            display: inline-flex;
            width: 2rem;
            height: 2rem;
            justify-content: center;
            align-items: center;
        }
    }
}
