/*
* Table Of Contents
1. Variables 
2. Mix-Ins
3. Global Styles
*/

// * Variables * //

$text-white: #fff;
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$ravens: #241774;
$bengals: #fb4f14;
$browns: #311d00;
$steelers: #ffb612;
$bills: #00338d;
$dolphins: #008e97;
$patriots: #002244;
$jets: #125740;
$texans: #03202f;
$colts: #002c5f;
$jaguars: #006778;
$titans: #4b92db;
$broncos: #fb4f14;
$chiefs: #e31837;
$raiders: #a5acaf;
$chargers: #0080c6;
$bears: #c83803;
$lions: #0076b6;
$packers: #203731;
$vikings: #4f2683;
$cowboys: #7f9695;
$giants: #0b2265;
$eagles: #004c54;
$commanders: #5a1414;
$falcons: #a71930;
$panthers: #0085ca;
$saints: #d3bc8d;
$buccaneers: #ff7900;
$cardinals: #97233f;
$rams: #003594;
$fourtyniners: #b3995d;
$seahawks: #69be28;
$fade-in-color: rgba(51, 51, 51, 1);

// * Global Styles * //
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
body {
  color: $text-white;
  background-color: lighten(black, 10%);
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: gainsboro transparent;
}

a {
  color: unset;
  text-decoration: unset;
}

li {
  display: list-item;
  list-style-position: inside;
}

#picker {
  opacity: 0 !important;
}
/* Designing for scroll-bar */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: darken($color: gainsboro, $amount: 10);
}

@mixin border-fade($team-color) {
  background: linear-gradient(#2e2e2e, #2e2e2e) padding-box,
    linear-gradient(125deg, $team-color 0%, $fade-in-color 12%) border-box;
  background-position: 0px;
}

.bengals {
  @include border-fade(transparentize($bengals, 0.2));
}

.ravens {
  @include border-fade(lighten($ravens, 35%));
}
.steelers {
  @include border-fade($steelers);
}
.browns {
  @include border-fade($browns);
}

.bills {
  @include border-fade(lighten($bills, 20%));
}
.dolphins {
  @include border-fade($dolphins);
}
.patriots {
  @include border-fade($patriots);
}
.jets {
  @include border-fade($jets);
}

.texans {
  @include border-fade($texans);
}
.colts {
  @include border-fade(lighten($colts, 20%));
}
.jaguars {
  @include border-fade($jaguars);
}
.titans {
  @include border-fade($titans);
}

.broncos {
  @include border-fade($broncos);
}
.chiefs {
  @include border-fade($chiefs);
}
.raiders {
  @include border-fade($raiders);
}
.chargers {
  @include border-fade($chargers);
}

.bears {
  @include border-fade($bears);
}
.lions {
  @include border-fade($lions);
}
.packers {
  @include border-fade(lighten($packers, 10%));
}
.vikings {
  @include border-fade(lighten($vikings, 30%));
}

.cowboys {
  @include border-fade($cowboys);
}
.giants {
  @include border-fade(lighten($giants, 10%));
}
.eagles {
  @include border-fade(lighten($eagles, 10%));
}
.commanders {
  @include border-fade($commanders);
}

.falcons {
  @include border-fade($falcons);
}
.panthers {
  @include border-fade($panthers);
}
.saints {
  @include border-fade($saints);
}
.buccaneers {
  @include border-fade(darken($buccaneers, 5%));
}

.cardinals {
  @include border-fade($cardinals);
}
.rams {
  @include border-fade(lighten($rams, 12%));
}
.fourtyniners {
  @include border-fade($fourtyniners);
}
.seahawks {
  @include border-fade($seahawks);
}
// * Pages *//

// * Main Page * //
main {
  margin: auto;
  width: 90%;
  padding-bottom: 1rem;
}
section {
  padding-bottom: 1rem;
}

.mainText {
  margin: 1rem;
  &__title {
    font-family: "Ubuntu";
    font-size: 2.25rem;
    padding-bottom: 0.1rem;
    font-weight: 700;
  }

  &__text {
    font-family: "Ubuntu";
    font-size: 0.85rem;
    padding-left: 1rem;
    font-weight: 300;
  }
}
.error {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    padding-top: 5rem;
    font-size: 5rem;
    padding-bottom: 1rem;
  }
  &__description {
    font-size: 0.9rem;
    font-weight: 200;
  }
  &__container {
    display: flex;
    justify-content: center;
    cursor: default;
    margin: 2rem 0;
    text-decoration: none;
    &_btn {
      background-color: lighten(black, 20%);
      border-radius: 0.2rem;
      font-weight: 100;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      letter-spacing: 0.5px;
      margin: 0rem 2rem 0 2rem;
      transition: ease-in 0.1s;
      cursor: pointer;
    }

    &_btn:hover,
    &_btn:focus {
      background-color: lighten(black, 15%);
      transition: ease-in 0.2s;
    }
  }
}

// * Loading Page * //
.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    width: 80%;
  }
  transition: all ease-in 0.1s;
}

// * Components * //
// * Header Component * //
.header {
  display: flex;
  padding: 2rem 0 0;
  &__nav {
    display: flex;
    width: 100%;
    align-items: center;
    &_profile {
      height: 2.25rem;
    }
    &_navbar {
      margin-top: 0.1rem;
      margin-left: auto;
    }
  }
  &__logo {
    height: 2rem;
  }
  &__expand {
    display: none;
  }
}

// * Navbar Component * //
.nav-item {
  position: relative;
  display: block;
  &:hover::after {
    opacity: 0.5;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(1) !important;
    background-color: #cbcbcb;
    transition: all 0.3s;
    opacity: 0;
  }
}
.navActive::after {
  opacity: 1 !important;
}
#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: lighten(#232323, 10%);
}

#menuToggle input {
  display: block;
  width: 2.25rem;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 2rem;
  height: 0.15rem;
  margin-bottom: 0.5rem;
  position: relative;
  background: #ebebeb;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(47deg) translate(-0px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(2px, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -200px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 0.5rem;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(101%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
// * Search Component * //
.searchBarContainer {
  position: relative;
  display: flex;
  &__icon {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  margin: 1.5rem 0;
}
.search {
  background-color: transparent;
  color: white;
  border: 2px white solid;
  border-radius: 0.3rem;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}
.search::placeholder {
  color: grey;
  font-style: italic;
}

// * Pill Component * //
.pillMenu {
  display: none;
}
.pillContainer {
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
.pill {
  font-weight: $regular;
  display: inline-block;
  letter-spacing: 1px;
  background-color: #1a1a1a;
  border: 2px solid white;
  border-radius: 10rem;
  padding: 0.3rem 1.25rem;
  font-size: 1rem;
  color: white;
  margin-left: 1rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.pill:hover,
.pill:focus {
  background-color: white;
  color: black;
}
.pillActive {
  background-color: white !important;
  color: black !important;
  transition: 0.2 ease-in;
}

// * Player Component * //
.popularPlayers {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  opacity: 0;
  animation: fade 500ms ease-out forwards;
}
.fade-in {
  animation: fade 500ms ease-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.player-wrapper {
  position: relative;
  border: solid transparent 3px;
  border-radius: 0.7rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
  }
}
.player {
  background-color: lighten(black, 18%);
  display: flex;
  padding: 1.25rem 1rem 1rem;
  transition: 0.2s ease;
  margin: 0.15rem;
  border-radius: 0.5rem;

  &__picture {
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
    left: 0;
    top: 0;

    &_img {
      background-size: cover; /* <------ */
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      object-fit: scale-down;
      height: 100%;
      width: 85%;
      max-width: 120px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
      margin: 0 auto;
    }
    &_logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 2.5rem;
      opacity: 20%;
      z-index: 1;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    &_name {
      font-weight: 600;
      font-size: 1.2rem;
      padding-bottom: 0.2rem;
    }
    &_type {
      font-size: 0.7rem;
      padding-bottom: 1rem;
      font-weight: lighter;
    }
    &_number {
      font-size: 0.9rem;
      font-weight: $regular;
    }
  }
}
.player:hover,
.player:focus {
  background-color: lighten(black, 17%);
  transition: 0.2s ease-in;
}
.player:active {
  background-color: lighten(black, 16%);
  transition: 0.2s ease-in;
}

// * Player Small * //
// * Player Component * //
.playerSmall {
  display: flex;
  padding: 2rem;
  background-color: #2a2a2a;
  border-radius: 1rem;
  border: 2px solid #383838;

  &__picture {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
    left: 0;
    top: 0;
    &_img {
      display: block;
      object-fit: scale-down;
      height: 100%;
      width: 100%;
      margin-top: -0.5rem;
      position: relative;
      left: 0;
      top: 0;
      z-index: 2;
    }
    &_logo {
      display: none;
    }
  }

  &__info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;

    &-name-type {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &_name {
      line-height: 1.2;
      font-weight: $semi-bold;
      font-size: 1.25rem;
      padding-bottom: 0.2rem;
    }

    &_type {
      font-size: 0.7rem;
      font-weight: 200;
    }

    &_team {
      display: none;
    }

    &_number {
      margin-top: auto;
      font-weight: $medium;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  }
}

// * Footer Components * //
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  font-size: 0.8rem;
  font-weight: 300;
  &__text {
    &_name {
      font-size: 0.8rem;
      color: lightgray;
      text-decoration: underline;
    }
  }
}

// * Nickname Component * //
.nickname {
  color: $text-white;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  margin: 0 auto;
  &__ol {
    list-style-type: none;
    &_li {
      border-radius: 1rem;
      margin: 0.75rem 0;
      background-color: #141414;
      padding: 1rem;
      font-weight: 400;
      border: 2px solid #414141;
      display: flex;
      align-items: center;
      &-upvoteContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: 1.5rem;
        align-items: center;
      }
      &-upvote {
        width: 0.9rem;
        cursor: pointer;
        margin-right: 0.5rem;
      }
      &-upvoteCount {
        font-size: 1rem;
      }
      &-counter {
        padding: 0rem;
        margin: 0 0.75rem 0rem 0.5rem;
        border-radius: 50%;
        border: 2px solid #414141;
        color: #e1e1e1;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
        display: inline-flex;
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
      }
      &-name {
        max-width: 60%;
      }
    }
  }
}

// * Media Queries * //
@media only screen and (min-width: 630px) {
  .playerSmall {
    &__picture {
      display: flex;
      justify-content: center;
      width: 50%;
      margin: 0.2rem auto 0 auto;
      &_img {
        max-width: 225px;
        margin-top: -0.5rem;
      }
      &_logo {
        display: block;
        position: absolute;
        width: 40%;
        max-width: 100px;
        opacity: 20%;
        z-index: 1;
        margin-top: -1rem;
        margin-right: 7rem;
      }
    }
    &__info {
      &-name-type {
        align-items: center;
        flex-direction: row;
      }
      &_name {
        font-weight: $semi-bold;
        font-size: 2rem;
      }

      &_type {
        margin-left: 0.5rem;
        font-size: 1rem;
      }

      &_team {
        margin-top: 0.2rem;
        display: block;
        font-weight: $regular;
        font-size: 1rem;
      }

      &_number {
        font-weight: $medium;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
      }
    }
  }
  .pillContainer {
    margin-bottom: 0;
  }
  .nickname {
    font-size: 1.15rem;
    margin-top: 1rem;
    &__ol {
      &_li {
        margin: 0.75rem 0;
        padding: 1rem;
        &-upvoteContainer {
          flex-direction: column;
          margin-right: 1.5rem;
        }
        &-upvote {
          width: 1rem;
          margin-right: 0;
          margin-bottom: 0.25rem;
        }
        &-upvoteCount {
          font-size: 0.9rem;
        }
        &-counter {
          border-radius: 50%;
          border: 2px solid #414141;
          color: #e1e1e1;
          font-size: 1rem;
          width: 2.2rem;
          height: 2.2rem;
        }
        &-name {
          max-width: 60%;
        }
      }
    }
  }
}
@media only screen and (min-width: 750px) {
  main {
    width: 90%;
  }
  .navigation {
    display: none;
  }
  .header {
    &__underline {
      display: inline-block;
    }
    &__expand {
      letter-spacing: 0.5px;
      display: block;
      font-weight: $regular;
      font-size: 1.2rem;
      &_home,
      &_about,
      &_contact {
        padding-bottom: 0.3rem;
        cursor: pointer;
        margin-right: 1rem;
        position: relative;
        display: block;
        font-family: "Inter";
        // &:after {
        //   content: "";
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   right: 0;
        //   width: 100%;
        //   height: 2px;
        //   transform: scaleX(0);
        //   background-color: #cbcbcb;
        //   transition: transform 0.3s;
        //   opacity: 1;
        // }

        // &:hover {
        //   &:after {
        //     transform: scaleX(1);
        //   }
        // }
        .active:hover {
          transform: scaleX(1);
        }
      }
      &_contact {
        padding-right: 0rem;
      }
    }
  }
  .mainText {
    margin: 1.5rem 1rem 1rem;

    &__title {
      font-size: 3.25rem;
    }
    &__text {
      font-size: 1rem;
    }
  }
  .searchBarContainer {
    margin: 2rem 1rem;
  }

  .popularPlayers {
    width: 90%;
    margin: 0 auto 0 auto;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  section {
    background-color: #1a1a1a;
    width: 85%;
    margin: 2rem auto 3rem;
    border-radius: 1rem;
    padding: 0.75rem 2.5rem 3rem;
    border: 3px solid lightgrey;
  }
  .mainText {
    &__title {
      font-size: 4rem;
      margin-bottom: 0.25rem;
    }
  }
  .header {
    display: flex;
    padding: 2rem 0 0;

    &__nav {
      display: flex;
      width: 100%;
      align-items: center;

      &_profile {
        height: 2.6rem;
      }

      &_navbar {
        margin-top: 0.1rem;
        margin-left: auto;
      }
    }

    &__logo {
      height: 2.3rem;
    }

    &__expand {
      font-size: 1.2rem;
    }
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  main {
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  section {
    width: 80%;
  }
  .popularPlayers {
    gap: 1.5rem;
  }
  .nickname-wrapper {
    max-height: 700px;
    height: 80%;
  }
  .playerLeft {
    width: 50%;
  }
  .playerRight {
    padding: 1rem;
    width: 50%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
  .nicknameSection {
    height: 100%;
    display: flex;
  }
  .nickname {
    font-size: 1rem;
    margin-top: 1rem;
    &__ol {
      &_li {
        margin: 0.75rem 0;
        padding: 0.9rem 1rem;
        &-upvoteContainer {
          flex-direction: column;
          margin-right: 1.5rem;
        }
        &-upvote {
          width: 1rem;
          margin-right: 0;
          margin-bottom: 0.25rem;
        }
        &-upvoteCount {
          font-size: 0.9rem;
        }
        &-counter {
          border-radius: 50%;
          border: 2px solid #414141;
          color: #e1e1e1;
          font-size: 1rem;
          width: 2.1rem;
          height: 2.1rem;
        }
        &-name {
          max-width: 60%;
        }
      }
    }
  }
  .pillMenu {
    display: block;
  }
  .playerSmall {
    margin: 1rem;
    &__picture {
      display: flex;
      justify-content: center;
      width: 45%;
      margin: 0.2rem auto 0 auto;
      &_img {
        max-width: 225px;
        margin-top: -0.5rem;
      }
      &_logo {
        width: 3rem;
        margin-right: 5.5rem;
      }
    }
    &__info {
      width: 55%;
      &_name {
        font-weight: $semi-bold;
        font-size: 1.25rem;
      }

      &_type {
        font-size: 0.8rem;
      }

      &_team {
        margin-top: 0.1rem;
        font-weight: $regular;
        font-size: 0.9rem;
      }

      &_number {
        font-weight: $medium;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
      }
    }
  }
}
